@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model IEnumerable<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-html5-1.6.1/cr-1.5.2/fh-3.1.6/r-2.2.3/sc-2.0.1/sl-1.3.1/datatables.min.css" />

}

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main_title">
                    <p class="top_text">@localizer["Updated"] 04/04/2020 <span></span></p>
                    <h2>
                        @localizer["Here are most of my Skills"]
                    </h2>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>

        <div>
            <h3>@localizer["Tech Skills"]</h3>
            <img style="margin-left: auto; margin-right: auto; display: block;" src="~/img/specs/chart.png" alt="Technologies chart" />
            <div class="align-items-center">
                <table id="tbl-skills" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">@localizer["Name"]</th>
                            <th scope="col">@localizer["Points"]</th>
                            <th scope="col">@localizer["Years"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skill in Model)
                        {
                            <tr>
                                <th scope="row">@skill.Name</th>
                                <td>@skill.Value / 10</td>
                                <td>@skill.Years</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-html5-1.6.1/cr-1.5.2/fh-3.1.6/r-2.2.3/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>
    <script src="~/js/custom/skills.js"></script>
    <script>
        $(function () {
            skills.load();
        });
    </script>
}