@using Tanyo.Portfolio.Data.Entities;
@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model IEnumerable<Skill>

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main_title" style="margin-bottom: 0px;">
                    <p class="top_text">@localizer["Updated"] 04/04/2020 <span></span></p>
                    <h2>
                        @localizer["Skills"]
                    </h2>
                    <p>
                        @localizer["Here are most of my Skills"]
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>

        <div>
            <img style="margin-left: auto; margin-right: auto; display: block; top: -30px" src="~/img/specs/chart.png" alt="Technologies chart" />
            <div class="align-items-center">
                <table id="tbl-skills" class="table portfolio-table display compact table-sm">
                    <thead>
                        <tr class="thead-dark">
                            <th scope="col">@localizer["Name"]</th>
                            <th scope="col">@localizer["Points"]</th>
                            <th scope="col">@localizer["Years"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skill in Model)
                        {
                            <tr class="thead-active">
                                <td><strong>@skill.Name</strong></td>
                                <td>@skill.Value / 10</td>
                                <td>@skill.Years</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>