@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Grafana Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>
                            @localizer["grafana-title"]
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><i class="ti-user"></i> @localizer["Tanyo Ivanov"]</li>
                            <li><i class="ti-calendar"></i> @localizer["Dec"] 18, 2022</li>
                        </ul>
                        <p class="blog-paragraph">
                            @localizer["Hello"],<br />
                            @localizer["grafana-intro"]
                        </p>
                        <div class="row">
                            <img class="img-fluid blog-post-image-lg" src="~/img/blog/grafana/dashboard-1.png" />
                        </div>
                        <br />
                        <p class="blog-paragraph">
                            @localizer["grafana-content"]
                        </p>
                        <div class="row">
                            <img class="img-fluid blog-post-image-lg" src="~/img/blog/grafana/dashboard-2.png" />
                        </div>
                        <br />
                        <p class="blog-paragraph">
                            @localizer["grafana-outro"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Partials/Share.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partials/Disqus.cshtml")
    </div>
</section>