@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["ransomware-title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>
                            @localizer["ransomware-title"]
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><i class="ti-user"></i> @localizer["Tanyo Ivanov"]</li>
                            <li><i class="ti-calendar"></i> @localizer["Jun"] 25, 2023</li>
                        </ul>
                        <p style="width: 60%; text-align: center; margin: auto; padding-bottom: 40px;">
                            @localizer["Hello"],<br />
                            @localizer["ransomware-content"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            Example: <br />
            <img class="img-fluid blog-post-image" src="~/img/blog/ransomware/ransomware-example.png" />
        </div>
        @await Html.PartialAsync("~/Views/Shared/Partials/Share.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partials/Disqus.cshtml")
    </div>
</section>