@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model Head

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="geo.position" content="51.4726108; -0.1611423">
<meta name="geo.placename" content="London">
<meta name="geo.region" content="en">
<meta name="keywords" content="@localizer["portfolio, developer, software, tanyo, ivanov, contractor, employee, programming, project, C#, asp, net, freelance, price, hour, day, month"]" />
<meta name="description" content="@localizer["This is the Portfolio of Tanyo Ivanov who is a software developer with long years of experience. The website gives you information about his practical experience and pricing"]" />
<meta name="image" content="https://cdn.takerman.net/takerman.net/logo/png/png_trns_logomark.png" />
<meta name="thumbnail" content="https://cdn.takerman.net/takerman.net/logo/png/png_trns_logomark.png" />
<meta property="og:type" content="article" />
<meta property="og:title" content="@localizer["The Portfolio of Tanyo Ivanov"]" />
<meta property="og:description" content="@localizer["This is the Portfolio of Tanyo Ivanov who is a software developer with long years of experience. The website gives you information about his practical experience and pricing"]" />
<meta property="og:image" content="https://cdn.takerman.net/takerman.net/logo/png/png_trns_logomark.png" />
<meta property="og:url" content="https://tivanov.takerman.net" />
<meta property="og:site_name" content="@localizer["The Portfolio of Tanyo Ivanov"]" />
<meta name="twitter:title" content="@localizer["The Portfolio of Tanyo Ivanov"]" />
<meta name="twitter:description" content="@localizer["This is the Portfolio of Tanyo Ivanov who is a software developer with long years of experience. The website gives you information about his practical experience and pricing"]">
<meta name="twitter:image" content="https://cdn.takerman.net/takerman.net/logo/png/png_trns_logomark.png">
<meta name="twitter:site" content="@Html.Raw("@")TanyoIvanov">
<meta name="twitter:creator" content="@Html.Raw("@")TanyoIvanov">
<meta name="msvalidate.01" content="C875DBC6AE17DB50390E9C9791007B8C" />
<link rel="icon" href="/img/favicon.png" type="image/png">
<title>@Model.Title</title>
<link rel="stylesheet" href="~/css/site.min.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />