@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model IEnumerable<Project>

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">MY PORTFOLIO <span></span></p>
                    <h2>
                        Check My Recent <br>
                        Client Work
                    </h2>
                </div>
            </div>
        </div>

        <div class="filters portfolio-filter">
            <ul>
                <li class="active" data-filter="*">all</li>
                <li data-filter=".web">web</li>
                <li data-filter=".desktop">desktop</li>
                <li data-filter=".other">other</li>
            </ul>
        </div>

        <div class="filters-content">
            <div class="row portfolio-grid">
                <div class="grid-sizer col-md-3 col-lg-3"></div>
                @foreach (var project in Model)
                {
                    <a href="@Url.ActionLink("Project", "Portfolio", new { name = project.Name })">
                        <div class="col-lg-@project.SizeLg col-md-@project.SizeMd all @project.Type.ToLower()">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100 border" src="@project.Image" alt="">
                                <div class="overlay"></div>
                                <div class="short_info">
                                    <h4 style="color: white">
                                        @project.Title
                                    </h4>
                                    <p>@project.Location </p>
                                    <p>Client: @project.Client </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>