@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
<div id="fb-root"></div>
<script src="//js.hs-scripts.com/6846508.js" id="hs-script-loader" async defer></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-130195294-1" async></script>
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2899110347083020&autoLogAppEvents=1"></script>
<script type="application/ld+json">
    {
    "@Html.Raw("@")context": "http://schema.org",
    "@Html.Raw("@")typ": "@localizer["Organization"]",
    "name": "@localizer["Takerman"]",
    "url": "https://tivanov.takerman.net",
    "sameAs": [
    "https://facebook.com/dev.tanyoivanov",
    "https://twitter.com/TanyoIvanov",
    "https://linkedin.com/in/tanyo-ivanov"
    "https://fiverr.com/takerman?up_rollout=true"
    ],
    "address": {
    "@Html.Raw("@")type": "@localizer["Plovdiv"] 4000",
    "streetAddress": "@localizer["bul. Iztochen 80"]",
    "addressRegion": "@localizer["Bulgaria"]",
    "postalCode": "4000",
    "addressCountry": "BG",
    },
    "email": "tivanov@takerman.net",
    "founder": "@localizer["Tanyo Ivanov"]",
    "image": "https://cdn.takerman.net/takerman.net/logo/png/png_trns_logo.png"
    }
</script>
<script src="~/js/site.js"></script>