@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Hobby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <article>
                                <h3>2017 - @localizer["Raspberry PI Cluster server with Docker Swarm Mode"]</h3>
                                <p>
                                    <strong>@localizer["About"]: </strong>@localizer["In my free time I created a webserver for my emails, websites etc. from 3 Raspberry PIs. They work as One virtual machine through the Docker swarm mode and can run multiple applications, scale them etc. As a cloud platform. I use the cluster as media center for my TV and smart house center too. I am constantly upgrading it and I have plan to make my appartment event smarter. Currently I am able to run ASP.NET Core apps and APIs with docker there. I am using it as a Database server for MariaDb too."]<br />
                                    <strong>@localizer["Tech"]: </strong>@localizer["Raspberry PI3 Model B, Docker Swarm, DietPi Linux, Bash, Linux"]
                                    <br /><br />
                                    <a href="/img/portfolio/screenshots/pi.jpg" target="_blank"><img src="/img/portfolio/screenshots/pi.jpg" class="center-x" style="width:80%; border: 1px solid #c2c2c2;"></a>
                                    <a href="/img/portfolio/screenshots/swarm.png" target="_blank"><img src="/img/portfolio/screenshots/swarm.png" class="center-x" style="width:80%; border: 1px solid #c2c2c2;"></a>
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">@localizer["Project Info"]</h4>
                                <p>
                                    @localizer["Raspberry PI Cluster server with Docker Swarm Mode"]
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>@localizer["Rating"]</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>@localizer["Client"]</span>: @localizer["My spare time"]</li>
                                    <li><span>@localizer["Website"]</span>: <a href="https://tanyoivanov.net" target="_blank">tanyoivanov.net</a></li>
                                    <li><span>@localizer["Started"]</span>: @localizer["Aug"] 2017</li>
                                    <li><span>@localizer["Completed"]</span>: @localizer["Jan"] 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <article>
                                <h3>2018 - @localizer["Design Patterns Package"]</h3>
                                <p>
                                    <strong>@localizer["About"]: </strong>@localizer["I wanted to create a package with design patterns which contains the most used design patterns while I am learning them from this"] <a href="https://www.youtube.com/playlist?list=PLrhzvIcii6GNjpARdnO4ueTUAVR9eMBpc" target="_blank">YouTube @localizer["playlist"]</a>.<br />
                                    <strong>@localizer["Tech"]: </strong>C#
                                    <br /><br />
                                    <a href="~/files/DesignPatterns.zip" download="DesignPatterns.zip" class="text-center"><button class="btn btn-info text-center">@localizer["DOWNLOAD"]</button></a>
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">@localizer["Project Info"]</h4>
                                <p>
                                    @localizer["Raspberry PI Cluster server with Docker Swarm Mode"]
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>@localizer["Rating"]</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>@localizer["Client"]</span>: @localizer["My spare time"]</li>
                                    <li><span>@localizer["Website"]</span>: <a href="https://tivanov.takerman.net/" target="_blank">takerman.net</a></li>
                                    <li><span>@localizer["Started"]</span>: @localizer["Aug"] 2017</li>
                                    <li><span>@localizer["Completed"]</span>: @localizer["Jan"] 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>