@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@inject IHtmlLocalizer<SharedResource> sharedLocalizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main_title">
                    <p class="top_text">@localizer["Updated"] 12/04/2020 <span></span></p>
                    <h2>
                        @localizer["Here is my CV"]
                    </h2>
                    <h3>
                        <a href="~/files/Tanyo_Ivanov_CV.pdf" download><i class="fa fa-download fa-fw w3-margin-right"></i>PDF</a> |
                        <a href="~/files/Tanyo_Ivanov_CV.docx" download><i class="fa fa-download fa-fw w3-margin-right"></i>DOCX</a>
                    </h3>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>

        <div>
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>@localizer["Work Experience"]</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b style="color: black;">
                            @localizer["Application Developer"] .NET<br />
                            <a href="https://www.fosterandpartners.com/" target="_blank">Foster + Partners</a> - SW115DN – UK, @localizer["London"]
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@localizer["Jan"] 2019 - @localizer["Dec"] 2019</h6>
                    <p>
                        @localizer["Developed and the tested the main Intranet application which has relation with loads of small inhouse developed applications written with different technologies. Renewed, documented and presented a lot of outdated applications used for organisation of the architects. For example, apps for booking meeting rooms, taxis travels, emails etc. Agile methodology."]<br />
                        <strong>@localizer["Tech"]:</strong> .NET Core, Design Patterns, ASP.NET, Azure, Load/UI/Unit/Integration Testing, Umbraco, Vue.js, SQL, Selenium, and other common skills
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b style="color: black;">
                            @localizer["Senior .NET Developer"]<br />
                            <a href="https://www.bgosoftware.com/" target="_blank">@localizer["BGO Software"]</a> - 4000 – @localizer["Bulgaria, Plovdiv"]
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@localizer["Jun"] 2016 - @localizer["Nov"] 2018</h6>
                    <p>
                        @localizer["Developed web system for managing the health researches of the UK and global scientists. The application is used for organising meetings in the UK government. Worked on the development of internal components and fixes of the project. Communicated everyday with the NHS client team. Trained a Junior. Agile methodology."]<br />
                        <strong>@localizer["Tech"]:</strong> .NET, Design Patterns, Jira, ASP.NET, Ace Admin, SQL, MS Tests, @localizer["and other common skills"]
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b style="color: black;">
                            @localizer[".NET Developer"]<br />
                            <a href="http://comstream.se/" target="_blank">@localizer["Comstream"]</a> – 41101 – @localizer["Sweden, Gothenburg"]
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@localizer["Jun"] 2015- @localizer["Jun"] 2016</h6>
                    <p>
                        @localizer["Built web and mobile applications for Smart Houses and Energy consumption optimisation. Worked onsite from the client location in Sweden. Trained a junior. Internet of Things devices integration. Agile methodology."]
                        <strong>@localizer["Tech"]:</strong> .NET, Design Patterns, VS Online, ASP.NET, SQL, IoT, @localizer["and other common skills"]
                    </p><br>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b style="color: black;">
                            @localizer[".NET Developer"]<br />
                            <a href="https://www.bucons.com/" target="_blank">@localizer["BuCons"]</a> - 4000 - @localizer["Remote"]
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@localizer["Jan"] 2013- @localizer["Jun"] 2015</h6>
                    <p>
                        @localizer["Developed, documented and delivered a lot of applications for the company clients. The main application was a Desktop WinForms application used for the administration of the scores and the profiles of the students. Worked with the team of HSO from Switzerland remotely until the delivery. Trained a junior. Waterfall methodology."]
                        <strong>@localizer["Tech"]:</strong> .NET, WinForms, ASP.NET, AWS, DotNetNuke, SQL, WPF, XBAP @localizer["and other common skills"]
                    </p><br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>@localizer["Education"]</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b style="color: black;">
                            @localizer["Business Information Technologies, Bachelor in Informatics"]<br />
                            <a href="https://uni-plovdiv.bg/en/" target="_blank">@localizer["University of Plovdiv"]</a> - @localizer["Plovdiv"]
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2014</h6>
                    <p>@localizer["Programming, Economics, Banking, Excel, 3D Software, English"]</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b style="color: black;">
                            @localizer["Information Technologies"]<br />
                            @localizer["Asen Zlatarov’s High School – Parvomay"]
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2005 - 2009</h6>
                    <p>@localizer["Programming, MS Office, 3D Software and design"]</p>
                    <hr>
                </div>

                <h3 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>@localizer["Courses"]</h3>
                <div class="w3-container">
                    <h6 class="w3-opacity">
                        <b style="color: black;">
                            <a href="~/files/EN_Intermediate.pdf" target="_blank">@localizer["Intermediate English"]</a> - @localizer["Maximum English School - December 2017 - Plovdiv"]
                        </b>
                    </h6>
                    <hr>
                </div>
                <div class="w3-container">
                    <h6 class="w3-opacity">
                        <b style="color: black;">
                            <a href="~/files/EN_PreIntermediate.pdf" target="_blank">@localizer["Pre-Intermediate English"]</a> - @localizer["Maximum English School - May 2017 - Plovdiv"]
                        </b>
                    </h6>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>