@using Microsoft.AspNetCore.Mvc.Localization
@using Tanyo.Portfolio.Data.Entities;

@inject IViewLocalizer localizer
@inject IHtmlLocalizer<SharedResource> sharedLocalizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_area section-margin pb-0 text-justify" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="main_title">
                    <p class="top_text">@localizer["Updated"] 01/01/2023 <span></span></p>
                    <h1 class="text-center">
                        @localizer["resume"]
                    </h1>
                    <h4 class="text-center">
                        <a href="~/files/Tanyo_Ivanov_CV.pdf" download><i class="fa fa-file-pdf fa-fw w3-margin-right"></i>pdf</a> &nbsp;
                        <a href="~/files/Tanyo_Ivanov_CV.docx" download><i class="fa fa-file-word fa-fw w3-margin-right"></i>docx</a>
                    </h4>
                </div>
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-16">@localizer["Personal Statement"]</h3>
                    <div class="w3-container">
                        <p>@localizer["I develop systems since 2012. As a developer, I am competent at understanding the project's needs, ensuring high standards of code quality and contributing to a warm and welcoming atmosphere.I am looking for a full-time position."]</p>
                        <hr>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-16">@localizer["Work Experience"]</h3>
                    <br />
                    <div class="w3-container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer["position-lexis-title2"] at <a href="https://www.lexisnexis.com/" target="_blank">LexisNexis</a> - UK, @localizer["London"]
                                    </b>
                                </h5>
                                <em class="font-weight-bolder">@localizer["Dec"] 2021 - @localizer["Oct"] 2022</em>
                            </div>
                            <div class="col-6">
                                <img class="cv-image" style="width: 120px" rowspan="2" src="~/img/cv/lexisnexis.png" alt="LexisNexis" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer["position-lexis-title1"] at <a href="https://www.lexisnexis.com/" target="_blank">LexisNexis</a> - UK, @localizer["London"]
                                    </b>
                                </h5>
                                <em class="font-weight-bolder">@localizer["OCt"] 2020 - @localizer["Dec"] 2021</em>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                        <p class="text">
                            @localizer["position-ln-content"]<br />
                            <strong>@localizer["Tech"]:</strong> Kubernetes, React Test Library, Terraform, NUnit, AWS, Docker, React Hooks, .NET Core, ASP.NET, SASS, Agile Methodologies, Git, Jest, React.js
                        </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer["Full Stack .NET Developer"] at OneDigital Tech - Remote
                                    </b>
                                </h5>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                        <em class="font-weight-bolder">@localizer["Feb"] 2020 - @localizer["Jul"] 2020</em>
                        <p class="text">
                            @localizer["In my role at OneDigital Tech, I worked on an existing API for the invoicing of cargo ships. My main duty was to change the way of invoicing and to introduce new charges to the system.I also took part in the Angular 8 front - end layer development and sprints planning."]<br />
                            <strong>@localizer["Tech"]:</strong> ASP.NET Core Web API, Angular 8, Angular Material, Entity Framework Core, SQL Server
                        </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer["Application Developer"] at <a href="https://www.fosterandpartners.com/" target="_blank">Foster + Partners</a> - UK, @localizer["London"]
                                    </b>
                                </h5>
                            </div>
                            <div class="col-6">
                                <img class="cv-image" style="width: 70px" src="~/img/cv/foster-partners.png" alt="Foster + Partners" />
                            </div>
                        </div>
                        <em class="font-weight-bolder">@localizer["Jan"] 2019 - @localizer["Dec"] 2019</em>
                        <p class="text">
                            @localizer["Took an important part of the development and testing of the new Intranet and all the accompanying applications(~20).My role also included helpdesk tickets handling, new internal microservice development, everyday communication with the employees.Impeccable knowledge in many technologies was key to this position.I left purely because of family reasons."]<br />
                            <strong>@localizer["Tech"]:</strong> ASP.NET Core MVC/Web API, ASP.NET WebForms/MVC, WinForms, Azure, Vue.js, Umbraco, Selenium, xUnit Tests, SQL Server, EntityFramework Core, Bootstrap, jQuery
                        </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer["Senior .NET Developer"] at <a href="https://www.bgosoftware.com/" target="_blank">@localizer["BGO Software"]</a> - @localizer["Bulgaria, Plovdiv"]
                                    </b>
                                </h5>
                            </div>
                            <div class="col-6">
                                <img class="cv-image" src="~/img/cv/bgosoftware.png" alt="BGO Software" /> &nbsp; <i class="fas fa-arrow-alt-circle-right"></i> &nbsp; <img class="cv-image" src="~/img/cv/nhs.png" alt="NHS" />
                            </div>
                        </div>
                        <em class="font-weight-bolder">@localizer["Jun"] 2016 - @localizer["Nov"] 2018</em>
                        <p class="text">
                            @localizer["In this role, I was responsible for the software development and maintenance of a public portal (https://harp.org.uk) of the NHS related to health researches. My main daily tasks included bug fixing, new features development, helpdesk tickets handling, client - team communication and planning, junior developers introduction."]<br />
                            <strong>@localizer["Tech"]:</strong> ASP.NET MVC/WebForms, SQL Server, EF, jQuery, Ace Admin, Bootstrap, CI/CD, Jira
                        </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer[".NET Developer"] at <a href="http://comstream.se/" target="_blank">@localizer["Comstream"]</a> – @localizer["Sweden, Gothenburg"]
                                    </b>
                                </h5>
                            </div>
                            <div class="col-6">
                                <img class="cv-image" src="~/img/cv/comstream.png" style="width: 50px" alt="Comstream" /> &nbsp; <i class="fas fa-arrow-alt-circle-right"></i> &nbsp; <img class="cv-image" src="~/img/cv/egain.png" alt="eGain" />
                            </div>
                        </div>
                        <em class="font-weight-bolder">@localizer["Jun"] 2015 - @localizer["Jun"] 2016</em>
                        <p class="text">
                            @localizer["Worked in the client location in Gothenburg on an ASP.NET MVC installer application of IoT devices who decreases the buildings overall energy consumption.I was responsible for the application development and mentoring of a junior developer."]<br />
                            <strong>@localizer["Tech"]:</strong> ASP.NET MVC, Angular.js, SQL Server, Entity Framework, JavaScript, Bootstrap
                        </p><br>
                    </div>
                    <div class="w3-container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="w3-opacity">
                                    <b style="color: black;">
                                        @localizer[".NET Developer"] at <a href="https://www.bucons.com/" target="_blank">@localizer["BuCons"]</a> - @localizer["Remote"]
                                    </b>
                                </h5>
                            </div>
                            <div class="col-6">
                                <img class="cv-image" src="~/img/cv/bucons.png" alt="BuCons" />
                            </div>
                        </div>
                        <em class="font-weight-bolder">@localizer["Jan"] 2013- @localizer["Jun"] 2015</em>
                        <p class="text">
                            @localizer["Developed, documented and delivered a lot of small applications like webshops, windows services, etc. The main application was a Desktop Win Forms application used for the administration of the scores and profiles of the students.Worked with the team of HSO from Switzerland remotely until the delivery. Trained a junior.Waterfall methodology."]<br />
                            <strong>@localizer["Tech"]:</strong> AWS, WinForms, DotNet Bar, WPF, XBAP ASP.NET MVC/WebForms, DotNetNuke, SQL Server, Entity Framework
                        </p><br>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-16">@localizer["Education"]</h3>
                    <br />
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b style="color: black;">
                                @localizer["Business Information Technologies, Bachelor in Informatics"]<br />
                                <a href="https://uni-plovdiv.bg/en/" target="_blank">@localizer["University of Plovdiv"]</a> - @localizer["Plovdiv"]
                            </b>
                        </h5>
                        <em class="font-weight-bolder">2010 - 2014</em>
                        <p class="text">@localizer[".NET (A), Java (A), Design Patterns (A), C++ (A), Banking (A), Finance (A), Accounting (A), Excel (A)"]</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b style="color: black;">
                                @localizer["Information Technologies"]<br />
                                @localizer["Asen Zlatarov’s High School – Parvomay"]
                            </b>
                        </h5>
                        <em class="font-weight-bolder">2005 - 2009</em>
                        <p>@localizer["Basic Programming (A), Microsoft Office (A), 3D Software and design (A)"]</p>
                        <hr>
                    </div>

                    <h3 class="w3-text-grey w3-padding-16">@localizer["Certificates"]</h3>
                    <br />
                    <div class="w3-container">
                        <h6 class="w3-opacity">
                            <b style="color: black;">
                                <a href="~/files/EN_Intermediate.pdf" target="_blank">@localizer["Intermediate English"]</a> - @localizer["Maximum English School - December 2017 - Plovdiv"]
                            </b>
                        </h6>
                        <h6 class="w3-opacity">
                            <b style="color: black;">
                                <a href="~/files/EN_PreIntermediate.pdf" target="_blank">@localizer["Pre-Intermediate English"]</a> - @localizer["Maximum English School - May 2017 - Plovdiv"]
                            </b>
                        </h6>
                    </div>
                    <hr />
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-16">@localizer["Skills"]</h3>
                    <br />
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b style="color: black;">
                                @localizer["Technologies"]
                            </b>
                        </h5>
                        <p>@localizer["AWS, Azure, ASP.NET MVC/WebForms/Web API, ASP.NET Core, WinForms, WPF, Angular, Vue.js, Umbraco, Selenium, SQL Server, WinServices, EntityFramework Core, xUnit Test, Docker, Git, jQuery, Bootstrap"]</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity">
                            <b style="color: black;">
                                @localizer["Languages"]
                            </b>
                        </h5>
                        <p>@localizer["English, Bulgarian, C#, JavaScript, HTML, CSS, SQL, SpecFlow, Docker, TypeScript"]</p>
                        <hr />
                    </div>
                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-16">@localizer["Hobbies"]</h3>
                    <br />
                    <div class="w3-container">
                        <p>@localizer["Outside of work, I love visiting the gym and going hiking sometimes. I am going to different activities and events to open my creativity.In my free time, I am reading books and watching movies."]</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section>