@page
@using Tanyo.Portfolio.Web.Models.Partials
@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home_banner_area" style="background: url(/img/profile/home-banner.png) no-repeat top center;">
    <div class="banner_inner">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h3>@sharedLocalizer.Get("hey-there") !</h3>
                        <h1 class="text-uppercase">@localizer["I'M TANYO"]</h1>
                        <h5 class="text-uppercase">@localizer["IT SPECIALIST AND ENGINEER"]</h5>
                        <div class="social_icons my-5">
                            <a href="https://www.youtube.com/channel/UCPTCSnkn2CtiVFc-EGdJycg" target="_blank" title="YouTube"><i class="ti-youtube"></i></a>
                            <a href="https://linkedin.com/in/tanyo-ivanov/" target="_blank" title="LinkedIn"><i class="ti-linkedin"></i></a>
                            <a href="https://github.com/takerman" target="_blank" title="GitHub"><i class="ti-github"></i></a>
                            <a href="https://github.com/takermanltd" target="_blank" title="GitHubOrg"><i class="ti-github"></i></a>
                            <a href="https://calendar.app.google/4LBrMVrDuMRcSimS9" target="_blank" title="Book a meeting" class="text-sm-left"><i class="ti-calendar"></i> @localizer["schedule"]</a>
                            <div class="fb-like"
                                 data-href="https://tanyoivanov.net"
                                 data-show-faces="true"
                                 data-layout="button_count"
                                 data-action="like"
                                 data-size="small"
                                 data-share="true">
                            </div>
                        </div>
                        <div class="button-box col-lg-12">
                            <a class="primary_btn" role="button" href="~/files/Tanyo_Ivanov_CV.pdf" target="_blank"><span>@localizer["CV"]</span></a>
                            <a class="primary_btn" role="button" href="~/files/Brochure.pdf" target="_blank"><span>@localizer["BROCHURE"]</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="home_right_img">
                        <img class="img-fluid" src="/img/banner/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Partials/ProgressBars.cshtml", new ProgressBars())
    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/Partials/Stats.cshtml", new Stats())
@await Html.PartialAsync("~/Views/Shared/Partials/About.cshtml")
@await Html.PartialAsync("~/Views/Shared/Partials/Services.cshtml")
@await Html.PartialAsync("~/Views/Shared/Partials/Testimonial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Partials/Blog.cshtml", new Blog(3))